body {
    background-color: coral;
}

form {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    margin: 20%;

}

.unos-teksta {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div p {
    text-align: center;
}